<% content_for(:page_title, "Code of Conduct") %>

<%= content_for :sidebar do %>
  <%= render partial: "discussions/sidebar" %>
<% end %>

<h2 class="section">
  <%= link_to "Help", help_path %> &raquo;
  <%= link_to "Code of Conduct", code_of_conduct_help_path %>
</h2>

<div class="help_page">
  <%= render_post @code_of_conduct %>
</div>
