<%
  @page_title = 'Keyboard shortcuts'
%>

<%= content_for :sidebar do %>
  <%= render partial: "discussions/sidebar" %>
<% end %>

<h2 class="section">
  <%= link_to 'Help', help_path %> &raquo;
  <%= link_to @page_title, keyboard_help_path %>
</h2>

<div class="help_page">
  <%= render partial: "keyboard_shortcuts" %>
</div>
