<% 
	add_body_class "conversations"
	@page_title = "Conversation with #{@user.username}"
	last_subject = nil
%>

<h2 class="section">
	<%= link_to "Conversations", messages_path %> &raquo;
	<%= link_to "#{@user.username}", user_conversation_path(:username => @user.username) %>
</h2>

<% if @messages && @messages.length > 0 %>
	<%= render :partial => 'components/pagination', :locals => { :p => @messages } %>
	<div class="posts">
		<% @messages.each do |message| -%>
		<div class="post message <%= "new_message" if message.recipient == @current_user && !message.read? %>">
			<% if message.subject? && last_subject != message.subject %>
				<div class="title"><%= h(last_subject = message.subject) %></div>
			<% end %>
			<div class="post_info">
				<a class="anchor" name="message-<%= message.id %>"></a>
				<span class="avatar"><%= avatar_image_tag(message.sender) %></span>
				<span class="username"><%= profile_link(message.sender) %></span>
				<span class="date"><%= formatted_time message.created_at %></span>
			</div>
			<div class="body">
				<div class="content"><%= message.sender.html_disabled? ? h(message.body).gsub(/\n/,'<br />') : meify(message.body_html, message.sender) %></div>
			</div>
		</div>
		<% end -%>
	</div>
	<%= render :partial => 'components/pagination', :locals => { :p => @messages } %>
<% end %>

<% form_for(@new_message, :html => { :class => 'compose_new_message' }) do |f| %>
	<a name="new" class="anchor" /></a>
	<h3>New message</h3>
	<%= f.hidden_field(:recipient_id) %>
	<p>
		<label>Subject <span class="description">&mdash; Optional</span></label>
		<%= f.text_field(:subject, :size => 80) %>
	</p>
	<p>
		<label>Message</label>
		<%= f.text_area(:body, :rows => 10, :cols => 80, :id => 'compose-body', :class => :rich) %>
	</p>
	<p><button type="submit">Send</button></p>
<% end %>