<div class="pagination">
	<% if p.pages > 1 %><div class="links">
		<%= link_to_unless (p.page == 1), "First", {:page => 1} %>
		<%= link_to_if p.previous_page, "Previous", {:page => p.previous_page} %>
		<%= link_to_if p.next_page,     "Next", { :page => p.next_page } %>
		<%= link_to_unless (p.page == p.last_page), "Last", {:page => p.last_page} %>
	</div><% end %>
	Page <%= p.page %>/<%= p.last_page %>
</div>
