<%
  @page_title = "Password Reset"
%>

<%= form_for(@user,
             url: password_reset_path(@password_reset_token,
                                      token: @password_reset_token.token),
             class: "form") do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password %>
  </p>
  <p>
    <button type="submit">
      Change Password
    </button>
  </p>
<% end %>
