<% content_for(:page_title, "Password Reset") %>

<%= form_for(@user,
             url: password_reset_path(token: @token),
             class: "form") do |f| %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <button type="submit">
      Change Password
    </button>
  </p>
<% end %>
