<%= f.hidden_field :type %>
<%= f.hidden_field(:format, class: "format") %>

<% if @recipient %>
  <%= hidden_field_tag :recipient_id, @recipient.id %>
<% end %>

<% if @moderators %>
  <%= hidden_field_tag :moderators, true %>
<% end %>

<%= f.labelled_text_field :title, class: "text title" %>

<%= f.labelled_text_area(:body,
                         id: "compose-body",
                         class: "rich",
                         data: {
                           format_binding: ".format",
                           formats: "markdown html",
                           remember_format: @exchange.new_record?
                         }) %>

<%= f.labelled_check_box :nsfw %>

<% if @exchange.closeable_by?(current_user) %>
  <%= f.labelled_check_box :closed %>
<% end %>

<% if @exchange.kind_of?(Discussion) && current_user.moderator? %>
  <%= f.labelled_check_box :sticky %>
<% end %>

<% if @exchange.kind_of?(Discussion) && current_user.trusted? %>
  <%= f.labelled_check_box :trusted %>
<% end %>

<% if @exchange.moderators? %>
  <p class="field">
    <label>
      Moderators
    </label>
    <%= safe_join(@exchange.moderators.map { |u| profile_link(u).html_safe },
                  ", ") %>
  </p>
<% end %>
