<%
  @page_title = "Posts Search"
  @page_title = @exchange.title + " - Search: " + h(@search_query)
  add_body_class "search", "search_posts_in_discussion"
%>

<h2 class="section">
  <% if @exchange.labels? %>
    [<%= @exchange.labels.join(",") %>]
  <% end %>
  <%= link_to @exchange.title, @exchange, id: "discussionLink" %>
  &raquo;
  Search: <em><%= @search_query %></em>
</h2>

<%= render partial: "search/tips" %>

<% if @posts && @posts.length > 0 %>
  <%= render(partial: "posts/posts",
             locals: {
               posts: @posts,
               title: false,
               permalink: true,
               pagination_params: { q: @search_query }}) %>
<% else %>
  <p>
    No posts were found.
  </p>
<% end %>
