<p>
	<label>Enter title</label>
	<%= f.text_field(:title, :class => :text) %>
</p>
<p>
	<label>Choose a category</label>
	<%= f.select(:category_id, @categories.map{|c| [c.name, c.id] } )%>
</p>
<p>
	<label>Enter your first post</label>
	<%= f.text_area(:body, :rows => 10, :id => 'compose-body', :class => :rich) %>
</p>
<p>
	<%= f.check_box(:nsfw) %> Mark as NSFW<br />
	<% if @discussion.closeable_by?(@current_user) %>
		<%= f.check_box(:closed) %> Closed<br />
	<% end %>
	<% if @current_user.moderator? %>
		<%= f.check_box(:sticky) %> Sticky<br />
	<% end %>
</p>

