<%= f.hidden_field :type %>
<% if @recipient %>
	<%= hidden_field_tag :recipient_id, @recipient.id %>
<% end %>

<%= labelled_field f.text_field(:title, :class => 'text title'), "Title", :errors => @discussion.errors[:title] %>
<%= labelled_field f.text_area(:body, :rows => 10, :id => 'compose-body', :class => :rich), 'First post', :errors => @discussion.errors[:body] %>

<% if @discussion.kind_of?(Discussion) %>
	<%= labelled_field f.select(:category_id, @categories.map{|c| [c.name, c.id] } ), "Category", :errors => @discussion.errors[:category_id] %>
<% end %>

<p>
	<%= f.check_box(:nsfw) %> Mark as NSFW<br />
	<% if @discussion.closeable_by?(@current_user) %>
		<%= f.check_box(:closed) %> Closed<br />
	<% end %>
	<% if @discussion.kind_of?(Discussion) && @current_user.moderator? %>
		<%= f.check_box(:sticky) %> Sticky<br />
	<% end %>
</p>

