<div class="categories">
  <h2>
    Discussions
  </h2>
  <ul class="meta">
    <li class="<%= "current" if discussion_action?("index") %>">
      <%= link_to "Everything", discussions_path %>
      <span class="count">
        <%= Discussion.viewable_by(current_user).count %>
      </span>
    </li>
    <% if current_user? %>
      <% if current_user.following_count > 0 %>
        <li class="<%= "current" if discussion_action?("following") %>">
          <%= link_to "Followed", following_discussions_path %>
          <span class="count">
            <%= current_user.following_count %>
          </span>
        </li>
      <% end %>
      <% if current_user.favorites_count > 0 %>
        <li class="<%= "current" if discussion_action?("favorites") %>">
          <%= link_to "Favorites", favorites_discussions_path %>
          <span class="count">
            <%= current_user.favorites_count %>
          </span>
        </li>
      <% end %>
      <% if current_user.hidden_count > 0 %>
        <li class="<%= "current" if discussion_action?("hidden") %>">
          <%= link_to "Hidden", hidden_discussions_path %>
          <span class="count">
            <%= current_user.hidden_count %>
          </span>
        </li>
      <% end %>
    <% end %>
    <li class="<%= "current" if discussion_action?("popular") %>">
      <%= link_to "Popular", popular_discussions_path %>
    </li>
  </ul>
</div>

<% if current_user? %>
  <div class="buttons">
    <p>
      <%= link_to("New discussion",
                  new_discussion_path,
                  class: "create button") %>
    </p>
    <p>
      <%= link_to("New private conversation",
                  new_conversation_path,
                  class: "create button") %>
    </p>
  </div>
<% end %>

<% if current_user? && current_user.admin? %>
  <h2>Admin</h2>
  <p>
    <%= link_to "Forum configuration", admin_configuration_path %>
  </p>
<% end %>
