<%
	@categories = Category.find(:all, :order => :position).reject{ |c| !c.viewable_by?(@current_user) }
%>

<% if @current_user %>
	<p>
		<%= link_to "Create a new discussion", new_discussion_path(:category_id => (@category ? @category : nil)), :class => 'create button' %>
	</p>
<% end %>
<h2>Categories</h2>
<ul class="categories">
	<li class="<%= 'current' if params[:controller] == 'discussions' && params[:action] == "index" %>">
		<%= link_to "All discussions", discussions_path %>
		<span class="count"><%= Discussion.count %></span>
	</li>
	<% @categories.each do |category| %>
		<li class="<%= 'current' if @category && @category == category %>">
			<%= link_to category.name, category, :title => category.description %>
			<span class="count"><%= category.discussions_count %></span>
		</li>
	<% end %>
</ul>

<% if @current_user && (@current_user.admin? || @current_user.moderator?) %>
	<h2>Admin</h2>
	<p>
		<% if @current_user.admin? %>
			<%= link_to "Forum configuration", configuration_admin_path %><br />
		<% end %>
		<%= link_to "Edit categories", categories_path %><br />
	</p>
<% end %>