<% if discussions && discussions.length > 0 %>
	<%= render :partial => 'components/pagination', :locals => { :p => discussions } %>
	<table class="discussions">
		<% discussions.each do |d| %>
			<tr>
				<td class="name" colspan="5">
					<% if d.labels? %>
						[<%= d.labels.join(',') %>]
					<% end %>
					<%= link_to d.title, {:id => d, :page => d.last_page, :controller => 'discussions', :action => 'show'} %>
				</td>
			</tr>
			<tr>
				<td class="category">Category: <%= link_to d.category.name, category_path(d.category) %></td>
				<td class="started_by">Started by <%= profile_link(d.poster) %></td>
				<td class="last_post">Last post by <%= profile_link(d.last_poster) %></td>
				<td class="last_active">Last active <strong><%= formatted_time d.last_post_at %></strong></td>
				<td class="post_count last"><strong><%= d.posts_count %></strong> <%= d.posts_count > 1 ? 'posts' : 'post' %></td>
			</tr>
		<% end %>
	</table>
	<%= render :partial => 'components/pagination', :locals => { :p => discussions } %>
<% else %>
	<p>No discussions here yet. <%= link_to "Create the first!", new_discussion_path %></p>
<% end %>
