<%
	no_discussions ||= "No discussions here yet. " + (@current_user ? link_to("Create the first!", new_discussion_path) : '')
	pagination_params ||= {}
%>
<% if discussions && discussions.length > 0 %>
	<%= pagination ||= render :partial => 'components/pagination', :locals => { :p => discussions, :pagination_params => pagination_params } %>
	<table class="discussions">
		<% discussions.each do |d| %>
			<tr class="<%= discussion_classes(discussions, d) %>">
				<td class="name" colspan="<%= d.kind_of?(Conversation) ? 5 : 6 %>"><span class="title">
					<% if d.labels? %>
						<span class="labels">[<%= d.labels.join(',') %>]</span>
					<% end %>
					<%= link_to d.title, last_discussion_page_path(d) %>
				</span></td>
			</tr>
			<tr class="<%= discussion_classes(discussions, d) %>">
				<% if d.kind_of?(Conversation) %>
					<% 
						other_participants = d.participants.reject{|p| p == @current_user}
					%>
					<% if other_participants.length == 0 %>
						<td class="participants">Conversation with nobody</td>
					<% elsif other_participants.length > 3 %>
						<td class="participants">Conversation with <%= other_participants.length %> participants</td>
					<% else %>
						<td class="participants">Conversation with <%= raw other_participants.map{|p| profile_link(p)}.join(', ') %></td>
					<% end %>
				<% else %>
					<td class="category">Category: <%= link_to d.category.name, category_path(d.category) %></td>
					<td class="started_by">Started by <%= profile_link(d.poster) %></td>
				<% end %>
				<td class="last_post">Last post by <%= profile_link(d.last_poster) %></td>
				<td class="last_active">Last active <strong><%= formatted_time d.last_post_at %></strong></td>
				<td class="post_count">
					<strong><%= d.posts_count %></strong>
					<%= d.posts_count > 1 ? 'posts' : 'post' %><% if @days && d.respond_to?(:recent_posts_count) %>,
						<strong><%= d.recent_posts_count %></strong> recently
					<% end %>
				</td>
				<td class="new_posts last">
					<% if new_posts?(d) %>
						New: <strong><%= new_posts_count(d) %></strong>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= pagination ||= render :partial => 'components/pagination', :locals => { :p => discussions, :pagination_params => pagination_params } %>
<% else %>
	<div class="content">
		<p><%= no_discussions.html_safe %></p>
	</div>
<% end %>