<%
	no_discussions ||= "No discussions here yet. " + link_to("Create the first!", new_discussion_path)
%>
<% if discussions && discussions.length > 0 %>
	<div class="discussions">
		<% @discussions.each do |d| %><div class="discussion <%= discussion_classes(discussions, d) %>">
			<% if new_posts?(d) %>
				<div class="new_posts_count"><%= new_posts_count(d) %></div>
			<% end %>
			<h2>
				<% if d.labels? %>
					<span class="labels">[<%= d.labels.join(',') %>]</span>
				<% end %>
				<%= link_to h(d.title), last_discussion_page_path(d) %>
			</h2>
			<p>
				By <%= d.poster.username %>,
				<%= d.posts_count %> posts.
				Last: <%= d.last_poster.username %> <%= formatted_time d.last_post_at %>
			</p>
		</div><% end %>
	</div>
	<%= render :partial => 'components/pagination', :locals => { :p => discussions } %>
<% else %>
	<p><%= no_discussions %></p>
<% end %>
