<h2><%= @page_title = "All Discussions" %></h2>

<table class="discussions">

	<tr>
		<td class="name" colspan="5"><%= link_to "{ custom letters}" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "[Euro 2008] Match Chat - Germany v Turkey" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "Watch Porn 2008" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "the FUNNY IMAGES thread!" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Serious" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "Why does CS3 hate me?" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "Best of YouTube" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "Watch Porn 2007" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Art and Design" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "bush tells filipino president he is proud of his filipino american cooks" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "General" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "the worlds HARDEST game" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Serious" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

	<tr>
		<td class="name" colspan="5"><%= link_to "OMFG @ Doctor Who" %></td>
	</tr>
	<tr>
		<td class="category">Category: <%= link_to "Entertainment" %></td>
		<td class="started_by">Started by <%= link_to "beejay" %></td>
		<td class="comments"><strong>400</strong> comments</td>
		<td class="last_comment">Last comment by <%= link_to "worker_robot" %></td>
		<td class="last_active">Last active <strong>9 hours ago</strong></td>
	</tr>

</table>