<% 
	@page_title = "Posts Search" 
	@page_title = @discussion.title + " - Search: " + h(@search_query)
	add_body_class "search", "search_posts_in_discussion"
%>

<h2 class="section">
	<% if @discussion.kind_of?(Discussion) %>
		<%= link_to @discussion.category.name, category_path(@discussion.category) %> &raquo;
	<% end %>
	<% if @discussion.labels? %>[<%= @discussion.labels.join(",") %>]<% end %>
	<%= link_to h(@discussion.title), discussion_path(@discussion), :id => 'discussionLink'  %>
	&raquo;
	Search: <em><%= @search_query %></em>
</h2>

<p class="search_tips">
	<strong>Search tips:</strong>
	To search for an exact phrase, use double quotes: <span class="example">"hello world"</span>.
	A vertical bar lets you find entries containing either word: <span class="example">hello | world</span>.
	To exclude a word, use a minus symbol: <span class="example">hello -world</span>.
</p>

<% if @posts && @posts.length > 0 %>
	<%= render :partial => 'posts/posts', :locals => {:posts => @posts, :title => false, :permalink => true, :pagination_params => {:q => @search_query}} %>
<% else %>
	<p>No posts were found.</p>
<% end %>