<% 
	@page_title = @discussion.title 
	previous_post = nil
-%>

<a name="top"></a>

<% if @discussion.editable_by?(@current_user) -%>
	<div class="functions">
		<%= link_to "Edit", edit_discussion_path(@discussion), :class => :edit %>
	</div>
<% end -%>

<h2 class="section">
	<%= link_to @discussion.category.name, category_path(@discussion.category) %> &raquo;
	<% if @discussion.labels? %>[<%= @discussion.labels.join(",") %>]<% end %>
	<%= link_to @discussion.title, discussion_path(@discussion) %>
</h2>

<%= render :partial => 'components/pagination', :locals => { :p => @posts } %>

<div class="posts">
	<% @posts.each do |post| %>
	<% if previous_post && (post.created_at - previous_post.created_at) >= 12.hours %>
		<div class="post_distance">
			<%= distance_of_time_in_words(post.created_at, previous_post.created_at) %> later&hellip;
		</div>
	<% end %>
	<div class="post" id="post-<%= post.id %>">
		<div class="post_functions">
			<% if post.editable_by?(@current_user) %>
				<%= link_to "Edit", edit_discussion_post_path(@discussion, post) %> |
			<% end %>
			<%# link_to_function "Quote", "quotePost(#{post.id})" %>
			<%= link_to_remote "Quote", 
					:url => quote_discussion_post_url(@discussion, post),
					:complete => "addToReply(request.responseText)"
			%>
		</div>
		<div class="post_info">
			<a name="post-<%= post.id %>"></a>
			<span class="avatar">
				<% if post.user.avatar_url? %>
					<%= image_tag post.user.avatar_url, :alt => post.user.username, :size => '32x32' %>
				<% else %>
					<%= image_tag post.user.gravatar_url(:size => 32), :alt => post.user.username, :size => '32x32' %>
				<% end %>
			</span>
			<span class="username"><%= profile_link(post.user) %></span>
			<span class="date"><%= formatted_time post.created_at %></span>
			<span class="permalink">
				<%= link_to "#", paged_discussion_path(:id => @discussion, :page => @posts.page, :anchor => "post-#{post.id}"), :title => "Permalink to this post" %>
			</span>
		</div>
		<div class="body">
			<%= post.user.html_disabled? ? h(post.body).gsub(/\n/,'<br />') : post.body_html %>
			<% if post.edited? %><div class="edited">
				Edited <%= formatted_time post.edited_at %>
			</div><% end %>
		</div>
	</div>
	<% previous_post = post -%>
	<% end %>
</div>

<%= render :partial => 'components/pagination', :locals => { :p => @posts } %>

<a name="bottom"></a>
<div class="bottomlinks">
	<%= link_to "Back to discussions", discussions_path %>,
	<%= link_to "Top of page", "#top" %>
</div>

<% if @posts.last_page? && @discussion.postable_by?(@current_user) %>
	<div class="compose">

		<ul id="reply-tabs" class="tabs">  
			<li class="tab"><a href="#replyText">Write</a></li>  
			<li class="tab"><a href="#replyImage">Draw</a></li>  
		</ul>
		
		<div id="replyText">
			<% form_for(@discussion.posts.new, :url => discussion_posts_path(@discussion)) do |f| %>
				<p><%= f.text_area(:body, :rows => 10, :cols => 80, :id => 'compose-body') %></p>
				<p><button type="submit">Post</button></p>
			<% end %>
		</div>
		<div id="replyImage">
			<script type="text/javascript">
				swfobject.registerObject("napkin", "9.0.31");
			
				function uploadDrawing() {
					swfobject.getObjectById("napkin").uploadDrawing();
				}
			
				function onDrawingUploaded(url) {
					window.location.reload();
				}
			</script>

			<div class="napkin">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="600" height="300" id="napkin">
				<% napkin_vars = "service=" + doodle_discussion_posts_path(@discussion) -%>
				<param name="movie" value="/flash/napkin.swf" />
				<param name="flashvars" value="<%= napkin_vars %>" />
				<param name="allowScriptAccess" value="always" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/flash/napkin.swf?<%= napkin_vars %>" width="600" height="300">
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflashplayer">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
			</div>
			<p><input name="commit" type="submit" value="Post" onClick="uploadDrawing()" /></p>
		</div>
	</div>
<% end %>

<script type="text/javascript">

	new Control.Tabs('reply-tabs');  

	function addToReply(string) {
		if( $('reply-body') ) {
			$('reply-body').value += string;
		}
	}
	
</script>