<% 
	@page_title = h(@discussion.title)
	previous_post = nil
%>

<div class="posts">
	<% @posts.each do |post| %>
		<% if previous_post && (post.created_at - previous_post.created_at) >= 12.hours %>
			<div class="post_distance"><%= distance_of_time_in_words(post.created_at, previous_post.created_at) %> later&hellip;</div>
		<% end %>
		<div class="post" id="post-<%= post.id %>">
			<div class="post_info">
				<a name="post-<%= post.id %>" class="anchor"></a>
				<span class="username"><%= profile_link(post.user) %></span>
				<span class="date">
					<%= formatted_time post.created_at %><% if post.edited? %>, edited <%= formatted_time post.edited_at %><% end %>
				</span>
			</div>
			<div class="body">
				<%= post.user.html_disabled? ? h(post.body).gsub(/\n/,'<br />') : post.body_html %>
			</div>
		</div>
		<% previous_post = post -%>
	<% end %>
</div>
<%= render :partial => 'components/pagination', :locals => { :p => @posts } %>

<% form_for(@discussion.posts.new, :url => discussion_posts_path(@discussion)) do |f| %>
<div class="reply">
	<p>
		<label>Reply</label>
		<%= f.text_area(:body, :id => 'reply-body') %>
	</p>
	<p><%= submit_tag "Post" %></p>
</div>
<% end %>


<script type="text/javascript">

	// Hide images in posts by default
	$$('.post .body img').each(function(image){
		image.originalSrc = image.src;
		image.src = '/images/themes/iphone2/imageloader.gif';
		image.removeAttribute("height");
		Element.observe(image, 'click', function(evt){
			var element = Event.element(evt);
			if( element.src != element.originalSrc ) {
				element.src = element.originalSrc;
			} else {
				window.location = element.src;
			}
		});
	});
	
</script>