<% content_for(:body_class, "users") %>
<% content_for(:page_title, "User links") %>

<h2 class="section">
  <%= link_to "Users", users_path %>
  &raquo;
  <%= link_to "Links", user_links_path %>
</h2>

<%= render partial: "users/list_navigation" %>

<table class="list user-links-list">
  <tr>
    <th>Type</th>
    <th>Count</th>
  </tr>
  <% @labels.each do |label| %>
    <tr>
      <td class="label">
        <%= link_to(label, user_links_path(type: label)) %>
      </td>
      <td>
        <%= UserLink.active.where(label:).count %>
      </td>
    </tr>
  <% end %>
</table>
