<%
  add_body_class "discussions conversations"
  @page_title = "Conversations"
%>

<%= content_for :sidebar do %>
  <%= render partial: 'discussions/sidebar'%>
<% end %>

<div class="functions">
  <%= link_to "Contact moderators", contact_moderators_path, class: :add %>
</div>

<h2 class="section">
  <%= link_to "Conversations", conversations_path %>
</h2>

<%= render partial: 'exchanges/table', locals: {
  exchanges:    @exchanges,
  no_exchanges: "You aren't part of any conversations."
} %>
