<%= f.labelled_time_zone_select :time_zone %>
<%= f.labelled_text_field :location, size: 50 %>

<%= f.hidden_field(:latitude) %>
<%= f.hidden_field(:longitude) %>

<div class="field">
  <label>
    <%= t("user.edit.map") %>
    <span class="description">
      &mdash; <%= t("user.edit.map_description") %>
      (<%= link_to(t("user.edit.clear_location"),
                   "#",
                   class: "clear-location") %>)
    </span>
  </label>
  <div id="editProfileMap"
       class="map"
       style="min-width: 500px; min-height: 500px;"></div>
</div>
