<%
  mode ||= false
%>

<% if @invite %>
  <%= hidden_field_tag "token", @invite.token %>
<% end %>

<%= f.labelled_text_field :username %>
<%= f.labelled_text_field :email, size: 50 %>

<%= f.labelled_password_field :password %>
<%= f.labelled_password_field :confirm_password %>

<p>
  <%= t("user.new.optional_fields") %>
</p>

<%= f.labelled_text_field :realname, size: 50 %>
<%= f.labelled_text_field :location, size: 50 %>
