<% 
	add_body_class "users"
	@page_title = "Banned Users" 
%>

<div class="functions">
	<% if @current_user.user_admin? %>
		<%= link_to "Invite +", new_user_path, :class => :create %>
	<% end %>
</div>

<h2 class="section">
	<%= link_to "Users", users_path %>
	&raquo;
	<%= link_to "Banned", banned_users_path %>
</h2>

<%= render :partial => 'list_navigation' %>

<%= render :partial => 'users_listing', :locals => {:users => @users} %>
