<%
  add_body_class "login"
  @page_title = "Login"
%>

<h2 class="section">
  <%= link_to "Login", login_users_path %>
</h2>

<div id="login">

  <%= form_tag(authenticate_users_path,
               class: "form username_and_password") do %>
    <fieldset>
      <label>
        Email
      </label>
      <%= text_field_tag "email", "", class: :text %>
    </fieldset>
    <fieldset>
      <label>
        Password
      </label>
      <%= password_field_tag "password", "", class: :text %>
    </fieldset>
    <fieldset>
      <button type="submit">
        Sign in
      </button>
      <%= link_to("<strong>Help!</strong> I forgot my password!".html_safe,
                  new_password_reset_path,
                  class: "password_reset") %>
    </fieldset>
  <% end %>

  <% if Sugar.config.facebook_app_id %>
    <div class="facebook">
      <%= link_to("Login with Facebook",
                  facebook_oauth_url(login_facebook_url),
                  class: "fb_button") %>
    </div>
  <% end %>
</div>
