<% content_for(:body_class, "signup") %>
<% content_for(:page_title, t("user.sign_up")) %>

<h2 class="section">
  <% if current_user? || Sugar.public_browsing? -%>
    <%= link_to "Users", users_path %> &raquo;
  <% end -%>
  <%= link_to t("user.sign_up"), new_user_path %>
</h2>


<ul id="signup-tabs" class="topTabs">
  <li class="tab" id="regular-tab">
    <a href="#password">Username and password</a>
  </li>
</ul>

<%# Normal signup %>
<div id="password">
  <%= form_for @user, builder: Sugar::FormBuilder do |f| %>
    <%= render partial: "signup_form", locals: { f: f } %>
    <p>
      <button type="submit">
        <%= t("user.sign_up") %>
      </button>
    </p>
  <% end %>
</div>
