<%
  add_body_class "users"
  @page_title = "Nintendo Users"
%>

<div class="functions">
  <%= render partial: 'users_functions' %>
</div>

<h2 class="section">
  <%= link_to "Users", users_path %> &raquo; <%= link_to "Nintendo ID", nintendo_users_path %>
</h2>

<%= render partial: 'list_navigation' %>

<table class="list users_list">
  <tr>
    <th>Username</th>
    <th>Nintendo ID</th>
  </tr>
  <% @users.each do |user| %><tr>
    <td class="username"><%= profile_link(user) %></td>
    <td class="nintendo_id"><%= link_to user.nintendo, "https://miiverse.nintendo.net/users/" + url_encode(user.nintendo) %></td>
  </tr><% end %>
</table>
