<% 
	add_body_class "users"
	@page_title = "Online Users" 
%>

<div class="functions">
	<%= render :partial => 'users_functions' %>
</div>

<h2 class="section"><%= link_to "Users", users_path %> &raquo; <%= link_to "Online", online_users_path %></h2>

<%= render :partial => 'list_navigation' %>

<% if @users.length > 0 %>
	<div class="content">
		<p>
			<% if @users.length == 1 %>
				<strong>1</strong> user is online right now.
			<% else %>
				<strong><%= @users.length %></strong> users are online right now.
			<% end %>
		</p>
	</div>
	<%= render :partial => 'users_listing', :locals => {:users => @users, :columns => [:username, :location, :member_since, :discussions_and_posts, :status]} %>
<% else %>
	<div class="content">
		<p>No users are online.</p>
	</div>
<% end %>