<%
  add_body_class "user_profile"
  @page_title = "#{@user.username}"
%>

<% if current_user? %>
  <div class="functions">
    <% if @user == current_user %>
      <%= link_to "Edit your profile", edit_user_path(id: @user.username) %>
    <% elsif current_user.user_admin? %>
      <%= link_to "Edit", edit_user_path(id: @user.username) %> /
    <% end %>
    <% unless @user == current_user %>
      <%= link_to("Start a conversation",
                  new_conversation_with_path(username: @user.username)) %>
    <% end %>
  </div>
<% end %>

<h2 class="section">
  <%= link_to "Users", users_path %> &raquo;
  <%= profile_link(@user) %>
</h2>

<div id="userinfo">
  <p class="avatar_and_name clearfix">
    <%= avatar_image_tag @user %>
    <%= profile_link(@user, @user.username, class: "username") %>
    <% if @user.realname? || @user.location? %>
      <br />
      <% if @user.realname? %>
        <%= h @user.realname %>
      <% end %>
      <% if @user.location? %>
        <small>from</small> <%= h @user.location %>
      <% end %>
    <% end %>
    <% if @user.website? %>
      <br /><%= pretty_link(@user.website) %>
    <% end %>
  </p>

  <% if @user.previous_usernames.any? %>
    <div class="previous_usernames">
      <b>
        Previously Known As:
      </b>
      <ul>
        <% @user.previous_usernames.uniq.each do |username| %>
          <li>
            <%= username %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.description? %>
  <div class="description">
    <%= render_post @user.description %>
  </div>
  <% end %>

  <% if !Sugar.config.signups_allowed && current_user? &&
        current_user.user_admin? && !@user.user_admin? %>
    <p class="grant_invites">
      <strong>
        Invites:
      </strong>
      <%= @user.available_invites %> &ndash;
      <%= link_to("Grant one",
                  grant_invite_user_path(id: @user.username),
                  method: :post) %>
      or
      <%= link_to("revoke all",
                  revoke_invites_user_path(id: @user.username),
                  method: :post,
                  data: {
                    confirm: "Are you sure you want to revoke all invites?"
                  }) %>
      <br />
    </p>
  <% end %>

  <p class="posts_and_discussions">
    <% if @user.discussions.viewable_by(current_user).any? %>
      <%= link_to("View discussions",
                  discussions_user_path(id: @user.username)) %>
      (<%= @user.discussions.viewable_by(current_user).count %>)
      <br />
    <% end %>

    <% if @user.participated_discussions.viewable_by(current_user).any? %>
      <%= link_to("View participated discussions",
                  participated_user_path(id: @user.username)) %>
      (<%= @user.participated_discussions.viewable_by(current_user).count %>)
      <br />
    <% end %>

    <% if @user.discussion_posts.viewable_by(current_user).any? %>
      <%= link_to "View posts", posts_user_path(id: @user.username) %>
      (<%= @user.discussion_posts.viewable_by(current_user).count %>)
      <br />
    <% end %>

    <% unless !current_user? || @user == current_user %>
      <%= link_to("Start a conversation with #{@user.username}",
                  new_conversation_with_path(username: @user.username)) %>
    <% end %>
  </p>

  <p>
    <% if @user.birthday? %>
      <strong>
        Birthday
      </strong>:
      <%= @user.birthday.strftime("%b %d") %>
      <br />
    <% end %>

    <strong>
      Member since
    </strong>:
    <%= time_tag @user.created_at, class: "relative" %>
    <br />

    <% if @user.inviter %>
      <strong>
        Invited by
      </strong>:
      <%= profile_link(@user.inviter) %>
      <br />
    <% end %>

    <strong>
      Last active
    </strong>:
    <% if @user.online? %>
      <strong>
        Online now
      </strong>
    <% else %>
      <%= time_tag(@user.last_active, class: "relative") %>
    <% end %>
    <br>

    <% if @user.memorialized? %>
      This account has been memorialized.
      <br />
    <% elsif @user.banned? %>
      <%= @user.username %> has been
      <span class="banned"><strong>banned!</strong></span>
      <br />
    <% elsif @user.admin? %>
      <%= @user.username %> is an
      <span class="admin"><strong>admin</strong></span>.
      <br />
    <% end %>
  </p>

  <p>
    <% if @user.twitter? %>
      <strong>Twitter</strong>:
      <%= link_to "#{@user.twitter}", "http://twitter.com/#{@user.twitter}" %>
      <br>
    <% end %>
    <% if @user.gtalk? %>
      <strong>Google Talk</strong>:
      <%= link_to @user.gtalk, "gtalk:chat?jid=#{CGI.escape(@user.gtalk)}" %>
      <br />
    <% end %>
    <% if @user.msn? %>
      <strong>MSN Messenger</strong>:
      <%= @user.msn %><br />
    <% end %>
    <% if @user.aim? %>
      <strong>AIM</strong>:
      <%= link_to @user.aim, "aim:GoIM?screenname=#{CGI.escape(@user.aim)}" %>
      <br />
    <% end %>
    <% if @user.instagram? %>
      <strong>Instagram</strong>: <%= @user.instagram %>
      <br />
    <% end %>
    <% if @user.flickr? %>
      <strong>Flickr</strong>:
      <%= link_to("Photos on Flickr",
                  "http://www.flickr.com/photos/#{@user.flickr}") %>
      <br />
    <% end %>
    <% if @user.last_fm? %>
      <strong>LastFM</strong>:
      <%= link_to @user.last_fm, "http://www.last.fm/user/#{@user.last_fm}" %>
      <br>
    <% end %>
  </p>

  <% if @user.gamertag? || @user.sony? || @user.nintendo? ||
        @user.nintendo_switch? || @user.steam? || @user.battlenet %>
    <div class="social gaming">
      <% if @user.gamertag? %>
        <strong>Xbox Live:</strong>
        <a href="http://gamercard.xbox.com/en-US/Profile?Gamertag=<?= @user.gamertag ?>">
          <%= @user.gamertag %>
        </a>
        <br />
      <% end %>
      <% if @user.sony? %>
        <strong>PlayStation:</strong>
        <a href="http://us.playstation.com/playstation/psn/visit/profiles/<%= @user.sony %>">
          <%= @user.sony %>
        </a>
        <br />
      <% end %>
      <% if @user.nintendo? %>
        <strong>Nintendo ID:</strong>
        <a href="https://miiverse.nintendo.net/users/<%= @user.nintendo %>">
          <%= @user.nintendo %>
        </a>
        <br />
      <% end %>
      <% if @user.nintendo_switch? %>
        <strong>Nintendo Switch ID:</strong>
        <%= @user.nintendo_switch %>
        <br />
      <% end %>
      <% if @user.steam? %>
        <strong>Steam ID:</strong>
        <a href="http://steamcommunity.com/id/<%= @user.steam %>">
          <%= @user.steam %>
        </a>
        <br />
      <% end %>
      <% if @user.battlenet? %>
        <strong>Battle.net:</strong>
        <%= @user.battlenet %>
        <br />
      <% end %>
    </div>
  <% end %>

  <% if @user.invitees.count > 0 %>
    <div class="invitees">
      <h3>
        <%= @user.username %> has invited <%= @user.invitees.count %> users:
      </h3>
      <ul>
        <% @user.invitees.each do |invitee| %>
          <li>
            <%= profile_link(invitee) %>
            (joined <%= time_tag invitee.created_at, class: "relative" %>)
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
<div id="userPosts">
  <% if @posts && @posts.length > 0 %>
    <% cache [@user, "profile/posts", current_user.try(&:trusted?)] do %>
      <%= render(partial: "posts/posts",
                 locals: { posts: @posts, title: true, no_pagination: true }) %>
    <% end %>
  <% elsif current_user? && @user == current_user %>
    <div class="welcome">
      <h2>Welcome to <%= Sugar.config.forum_name %>!</h2>
      <p>
        This is your user profile. Normally your posts will show up in
        this space, but you haven't posted anything yet.
      </p>
      <p>
        Why don't you go
        <%= link_to "check out some discussions", discussions_path %>,
        and maybe introduce yourself?<br />
        Or maybe
        <%= link_to "edit your profile", edit_user_path(id: @user.username) %>
        and add some more info about yourself?
      </p>
    </div>
  <% end %>
</div>
