<% content_for(:page_title, "#{@user.username}") %>

<div class="page_content user_profile">
  <div class="avatar">
    <%= avatar_image_tag @user %>
    <h2>
      <%= @user.username %>
    </h2>

    <% unless !current_user? || @user == current_user %>
      <p>
        <%= link_to("Start a conversation",
                    new_conversation_with_path(username: @user.username)) %>
        <br />
        <% if current_user.muted?(@user) %>
          <%= link_to("Unmute user",
                      unmute_user_path(id: @user.username),
                      method: :post) %>
        <% else %>
          <%= link_to("Mute user",
                      mute_user_path(id: @user.username),
                      method: :post) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <% if @user.deactivated? %>
    <p class="banned">
      This account has been deactivated.
    </p>
  <% end %>

  <table class="userinfo">
    <% if @user.realname? %>
      <tr>
        <th>Name</th>
        <td><%= @user.realname %></td>
      </tr>
    <% end %>

    <% if @user.pronouns? %>
      <tr>
        <th>Pronouns</th>
        <td><%= @user.pronouns %></td>
      </tr>
    <% end %>

    <% if @user.location? %>
      <tr>
        <th>Location</th>
        <td><%= @user.location %></td>
      </tr>
    <% end %>

    <% if @user.birthday? %>
      <tr>
        <th>Birthday</th>
        <td><%= @user.birthday.strftime("%b %d") %></td>
      </tr>
    <% end %>

    <% @user.user_links.sorted.each do |ul| %>
      <tr>
        <th>
          <%= ul.label %>
        </th>
        <td>
          <%= user_link(ul) %>
        </td>
      </tr>
    <% end %>

    <% if @user.inviter %>
      <tr>
        <th>Invited by</th>
        <td><%= profile_link(@user.inviter) %></td>
      </tr>
    <% end %>

    <tr>
      <th>Joined</th>
      <td><%= time_tag @user.created_at, class: "relative" %></td>
    </tr>

    <tr>
      <th>Last active</th>
      <td>
        <% if @user.online? %>
          <strong>Online now</strong>
        <% else %>
          <%= time_tag(@user.last_active, class: "relative") %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Discussions</th>
      <td>
        <%= link_to(@user.discussions.viewable_by(current_user).count,
                    discussions_user_path(id: @user.username)) %>
      </td>
    </tr>

    <tr>
      <th>Participated</th>
      <td>
        <%= link_to(@user.participated_discussions.viewable_by(current_user).count,
                    participated_user_path(id: @user.username)) %>
      </td>
    </tr>

    <tr>
      <th>Posts</th>
      <td>
        <%= @user.discussion_posts.viewable_by(current_user).count %>
      </td>
    </tr>

    <tr>
      <th>Users invited</th>
      <td><%= @user.invitees.count %></td>
    </tr>

    <% if @user.previous_usernames.any? %>
      <tr>
        <th>Previously Known As</th>
        <td>
          <ul>
            <% @user.previous_usernames.uniq.each do |username| %>
              <li>
                <%= username %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>
