<%
  add_body_class "users"
  @page_title = "PlayStation Users"
%>

<div class="functions">
  <%= render partial: 'users_functions' %>
</div>

<h2 class="section">
  <%= link_to "Users", users_path %> &raquo; <%= link_to "PlayStation", sony_users_path %>
</h2>

<%= render partial: 'list_navigation' %>

<table class="list users_list">
  <tr>
    <th>Username</th>
    <th>PlayStation ID</th>
  </tr>
  <% @users.each do |user| %><tr>
    <td class="username"><%= profile_link(user) %></td>
    <td class="sony_id"><%= link_to user.sony, "http://us.playstation.com/playstation/psn/visit/profiles/" + url_encode(user.sony) %></td>
  </tr><% end %>
</table>
