<% 
	add_body_class "users"
	@page_title = "Top Posters" 
%>

<div class="functions">
	<%= render :partial => 'users_functions' %>
</div>


<h2 class="section"><%= link_to "Users", users_path %> &raquo; <%= link_to "Top Posters", top_posters_users_path %></h2>

<%= render :partial => 'list_navigation' %>

<% if @users.length > 0 %>
	<%= render :partial => 'users_listing', :locals => {:users => @users, :columns => [:username, :location, :last_active, :member_since, :posts_count, :posts_per_day, :status]} %>
<% else %>
	<p>No users are online.</p>
<% end %>