<% 
	add_body_class "users"
	@page_title = "Twitter Users" 
%>

<div class="functions">
	<%= render :partial => 'users_functions' %>
</div>


<h2 class="section">
	<%= link_to "Users", users_path %> &raquo; <%= link_to "Twitter Users", twitter_users_path %>
</h2>

<%= render :partial => 'list_navigation' %>

<%= render :partial => 'users_listing', :locals => {:users => @users, :columns => [:username, :twitter, :location]} %>

