<%
  add_body_class "users"
  @page_title = "Xbox Live Users"
%>

<div class="functions">
  <%= render partial: 'users_functions' %>
</div>

<h2 class="section">
  <%= link_to "Users", users_path %> &raquo; <%= link_to "Xbox Live", xboxlive_users_path %>
</h2>

<%= render partial: 'list_navigation' %>

<table class="list users_list">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Gamertag</th>
  </tr>
  <% @users.each do |user| %><tr>
    <td class="xbox_tile"><%= image_tag(user.gamertag_avatar_url, size: '24x24') %></td>
    <td class="username"><%= profile_link(user) %></td>
    <td class="xbox_gamertag"><%= link_to user.gamertag, "http://live.xbox.com/en-us/Profile?Gamertag=" + url_encode(user.gamertag) %></td>
  </tr><% end %>
</table>
