<%
  # Options
  discussion    ||= false
  functions     ||= false
  permalink     ||= false
  post_distance ||= false
  title         ||= false

  previous_post = nil
%>

<div class="posts">
  <% posts.each do |post| %>
    <% if post.deleted? %>
      <div class="post">
        <a name="post-<%= post.id %>" class="anchor"></a>
        <div class="deleted-post">
          This post has been deleted.
        </div>
      </div>
    <% else %>
      <% if title %>
        <div class="discussion">
          <h2>
            <% if post.exchange.labels? %>
              <span class="labels">
                [<%= post.exchange.labels.join(",") %>]
              </span>
            <% end %>
            <%= link_to(post.exchange.title,
                        last_viewed_page_path(post.exchange)) %>
          </h2>
        </div>
      <% end %>
      <% if post_distance && previous_post &&
        (post.created_at - previous_post.created_at) >= 12.hours %>
        <div class="post_distance">
          <%= distance_of_time_in_words(post.created_at,
                                        previous_post.created_at) %>
          later&hellip;
        </div>
      <% end %>
      <div class="post post_by_user<%= post.user.id %><%= " me_post" if post.me_post? %>"
           id="post-<%= post.id %>">
        <% if post.me_post? %>
          <div class="body">
            <%= format_post post.body, post.user %>
            <span class="date">
              &ndash; <%= time_tag post.created_at, class: "relative" %>
            </span>
          </div>
        <% else %>
          <div class="post_info">
            <a name="post-<%= post.id %>" class="anchor"></a>
            <span class="username">
              <%= profile_link(post.user) %>
            </span>
            <span class="date">
              <%= link_to(polymorphic_path((discussion||post.exchange),
                                           page: post_page(post),
                                           anchor: "post-#{post.id}"),
                          title: "Permalink to this post",
                          class: "permalink") do %>
                <%= time_tag post.created_at, class: "relative" %>
              <% end %>
            </span>
          </div>
          <div class="functions">
            <% if post.editable_by?(current_user) %>
              <%= link_to "Edit", [:edit, (discussion || post.exchange), post] %> /
            <% end %>
            <%= link_to("Quote",
                        [(discussion||post.exchange), post],
                        class: "quote_post",
                        id: "quotePost-#{post.id}") %>
          </div>
          <div class="body">
            <%= format_post post.body_html, post.user %>
          </div>
          <% if post.edited? %>
            <div class="post_edited">
              Edited <%= time_tag post.edited_at, class: "relative" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% previous_post = post -%>
  <% end %>
</div>
