<%
	# Options
	posts              ||= false
	discussion         ||= false
	functions          ||= false
	permalink          ||= false
	post_distance      ||= false
	title              ||= false
	preview            ||= false

	previous_post      ||= nil
-%>

	<% if post_distance && previous_post %>
		<% if (post.created_at - previous_post.created_at) >= 12.hours %>
			<div class="post_distance"><%= distance_of_time_in_words(post.created_at, previous_post.created_at) %> later&hellip;</div>
		<% elsif (previous_post.created_at - post.created_at) >= 12.hours %>
			<div class="post_distance"><%= distance_of_time_in_words(post.created_at, previous_post.created_at) %> earlier&hellip;</div>
		<% end %>
	<% end %>
	<div class="post post_by_user<%= post.user.id %><%= " me_post" if post.me_post? %>" id="post-<%= post.id %>">
		<% if title %>
			<div class="title">
				<% if post.discussion.labels? %>
					<span class="labels">[<%= post.discussion.labels.join(',') %>]</span>
				<% end %>
				<%= link_to post.discussion.title, paged_discussion_path(:id => post.discussion, :page => post.page, :anchor => "post-#{post.id}") %>
				<small>
					Started by <%= profile_link(post.discussion.poster) %>,
					Last active <%= formatted_time post.discussion.last_post_at %>,
					<%= post.discussion.posts_count %> posts
				</small>
			</div>
		<% end %>
		<% if functions %>
		<div class="post_functions">
			<% if post.editable_by?(@current_user) %>
				<%= link_to "Edit", edit_discussion_post_path((discussion||post.discussion), post), :class => 'edit_post', :id => "editPost-#{post.id}" %> |
			<% end %>			
			<% if @current_user %>
				<%= link_to_function 'Quote', "return(false);", :class => 'quote_post', :id => "quotePost-#{post.id}" %>
			<% end %>
		</div>
		<% end %>
		<% if post.me_post? %>
			<div class="me_post_content">
				<div class="avatar"><%= avatar_image_tag(post.user) %></div>
				<div class="body" id="postBody-<%= post.id %>">
					<span class="content"><%= meify post.body, post.user %></span>
					<span class="date">&ndash; <%= preview ? "Preview" : formatted_time(post.created_at) %></span>
				</div>
			</div>
		<% else %>
			<div class="post_info">
				<a name="post-<%= post.id %>" class="anchor"></a>
				<span class="avatar">
					<%= avatar_image_tag(post.user) %>
				</span>
				<span class="username"><%= profile_link(post.user) %></span>
				<span class="date"><%= preview ? "Preview" : formatted_time(post.created_at) %></span>
				<% if permalink %>
				<span class="permalink">
					<%= link_to "#", paged_discussion_path(:id => (discussion||post.discussion), :page => post_page(post), :anchor => "post-#{post.id}"), :title => "Permalink to this post" %>
				</span>
				<% end %>
			</div>
			<div class="body" id="postBody-<%= post.id %>">
				<div class="content">
					<%= post.user.html_disabled? ? h(post.body).gsub(/\n/,'<br />') : meify(post.body_html, post.user) %>
				</div>
				<% if post.edited? %><div class="edited">
					Edited <%= formatted_time post.edited_at %>
				</div><% end %>
			</div>
		<% end %>
	</div>
