<%
  add_body_class "edit_post"
  @page_title = "Edit post"
%>

<% unless request.xhr? %>
  <h2 class="section">
    <% if @exchange.labels? %>
      [<%= @exchange.labels.join(",") %>]
    <% end %>
    <%= link_to h(@exchange.title), @exchange %> &raquo;
    <%= link_to "Edit post", [:edit, @exchange, @post] %>
  </h2>
<% end %>

<%= form_for([@exchange, @post]) do |f| %>
  <%= f.hidden_field(:format, class: "format") %>
  <p>
    <%= f.text_area(
      :body,
      id:                   "edit-post-body-#{@post.id}",
      class:                "rich",
      "data-format-binding" => ".format",
      "data-formats"        => "markdown html"
    ) %>
  </p>
  <p>
    <button type="submit">
      Save
    </button>
  </p>
<% end %>
