<% @page_title = "Edit post" %>

<h2 class="section">
	<%= link_to @discussion.category.name, category_path(@discussion.category) %> &raquo;
	<% if @discussion.labels? %>[<%= @discussion.labels.join(",") %>]<% end %>
	<%= link_to @discussion.title, discussion_path(@discussion) %> &raquo;
	<%= link_to "New post", new_discussion_post_path(@discussion) %>
</h2>

<%= error_messages_for('post') %>

<%= form_for(@post, :url => discussion_posts_path(@discussion)) do |f| %>
	<p>
		<%= f.text_area(:body, :cols => 80, :rows => 20) %>
	</p>
	<p><button type="submit">Save</button></p>
<% end %>