<% @page_title = "Edit post" %>

<h2 class="section">
  <% if @exchange.labels? %>
    [<%= @exchange.labels.join(",") %>]
  <% end %>
  <%= link_to @exchange.title, @exchange %> &raquo;
  <%= link_to "New post", [:new, @exchange, :posts] %>
</h2>

<%= form_for([@exchange, @post]) do |f| %>
  <p>
    <%= f.text_area(:body, cols: 80, rows: 20) %>
  </p>
  <p><button type="submit">Save</button></p>
<% end %>
