<% content_for(:body_class, "search", "search_posts") %>
<% content_for(:page_title, "Posts Search") %>

<%= content_for :sidebar do %>
  <%= render partial: "discussions/sidebar" %>
<% end %>

<h2 class="section">
  Searching posts for <em><%= @search_query %></em>
</h2>

<%= render partial: "search/tips" %>

<% if @posts && @posts.length > 0 %>
  <%= render(partial: "posts/posts",
             locals: {
               posts: @posts,
               title: true,
               hide_nsfw: true,
               pagination_params: { q: @search_query }}) %>
<% else %>
  <p>
    No posts were found.
  </p>
<% end %>
