<% 
	add_body_class "edit_category"
	@page_title = "Edit #{@category.name}" 
%>

<h2 class="section">
	<%= link_to "Categories",   categories_path %> &raquo; 
	<%= link_to @category.name, category_path(@category) %> &raquo; 
	<%= link_to "Edit",         edit_category_path(@category) %>
</h2>

<%= form_for(@category) do |form| %>
	<%= render :partial => 'category_form', :locals => {:form => form} %>
	<p><button type="submit">Save</button></p>
<% end %>