<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= [@site_name,@page_title].compact.join(' - ') %></title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'swfobject' %>

	<%= javascript_include_tag 'livepipe/livepipe' %>
	<%= javascript_include_tag 'livepipe/cookie' %>
	<%# javascript_include_tag 'livepipe/contextmenu' %>
	<%= javascript_include_tag 'livepipe/event_behavior' %>
	<%= javascript_include_tag 'livepipe/hotkey' %>

	<%= javascript_include_tag 'livepipe/selection' %>
	<%= javascript_include_tag 'livepipe/selectmultiple' %>
	<%= javascript_include_tag 'livepipe/tabs' %>
	<%= javascript_include_tag 'livepipe/textarea' %>
	<%= javascript_include_tag 'livepipe/window' %>

	<% if @iphone %>
		<meta name="viewport" content="width = 320" />
		<meta name="viewport" content="initial-scale=1" />
		<%= stylesheet_link_tag 'iphone/screen' %>
	<% else %>
		<% if @current_user.stylesheet_url? %>
			<%= stylesheet_link_tag @current_user.stylesheet_url %>
		<% else %>
			<%= stylesheet_link_tag 'default/screen' %>
		<% end %>
	<% end %>
	<link rel="icon" type="image/gif" href="/images/favicon.gif" />
</head>
<body class="<%= body_classes %>">
	<div id="header">
		<h1>BUTT<em>3</em>RSCOTCH</h1>
		<div id="search">
			<% form_tag search_path, :method => 'get' do %>
				<%= text_field_tag 'q', @search_query, :class => :query %>
				<%= submit_tag "Search", :name => nil %>
			<% end %>
		</div>
		<div id="account">
			Hello, <%= profile_link(@current_user) %>! (<%= link_to "Sign out", logout_users_path %>)
		</div>
		<ul id="navigation">
			<li class="discussions<%= ' current' if @section == :discussions %>"><%= link_to "Discussions", discussions_path %></li>
			<li class="participated<%= ' current' if @section == :participated %>"><%= link_to "Participated", participated_user_path(:id => @current_user.username) %></li>
			<!--<li class="bookmarks"><%= link_to "Bookmarks" %></li>-->
			<li class="categories<%= ' current' if @section == :categories %>"><%= link_to "Categories", categories_path %></li>
			<li class="users<%= ' current' if @section == :users %>"><%= link_to "Users", users_path %></li>
			<% if @section != :messages && @current_user.unread_messages? -%>
				<li class="messages new_messages"><%= link_to (@current_user.unread_messages_count > 1) ? "#{@current_user.unread_messages_count} New messages!" : "1 New message!", messages_path %></li>
			<% else -%>
				<li class="messages<%= ' current' if @section == :messages %>"><%= link_to "Messages", messages_path %></li>
			<% end -%>
		</ul>
	</div>
	<div id="content">
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
	</div>
	<% if @iphone %>
		<script type="text/javascript">
			setTimeout(function(){ window.scrollTo(0, 1); }, 100);
		</script>
	<% end %>
</body>
</html>
