<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= [Sugar.config(:forum_name),@page_title].compact.join(' - ') %></title>
	<% if @current_user.stylesheet_url? -%>
		<%= stylesheet_link_tag @current_user.stylesheet_url %>
	<% else -%>
		<%= stylesheet_link_tag '/themes/b3s/screen' %>
	<% end -%>
	<% if RAILS_ENV == 'production' -%>
		<%= javascript_include_tag "all" %>
	<% else -%>
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "jquery.libraries" %>
		<%= javascript_include_tag 'swfobject' %>
		<%= javascript_include_tag 'application' %>
	<% end -%>
	<link rel="icon" type="image/gif" href="/themes/b3s/images/favicon.gif" />
</head>
<body class="<%= body_classes %>">
	<div id="header">
		<h1><%= Sugar.config(:forum_title) %></h1>
		<div id="search">
			<% form_tag search_path, :method => 'get' do %>
				<%= text_field_tag 'q', @search_query, :class => :query %>
				<%= select_tag 'search_mode', options_for_select(
					[['in titles', search_path],['in posts', search_posts_path]],
					(@posts_search_mode) ? search_posts_path : search_path
				) %>
				<%= submit_tag "Search", :name => nil %>
			<% end %>
		</div>
		<div id="account">
			Hello, <%= profile_link(@current_user) %>! (<%= link_to "Sign out", logout_users_path %>)
		</div>
		<ul id="navigation">
			<li class="discussions<%= ' current' if @section == :discussions %>"><%= link_to "Discussions", discussions_path %></li>
			<li class="following<%= ' current' if @section == :following %>"><%= link_to "Following", following_discussions_path %></li>
			<li class="favorites<%= ' current' if @section == :favorites %>"><%= link_to "Favorites", favorites_discussions_path %></li>
			<li class="categories<%= ' current' if @section == :categories %>"><%= link_to "Categories", categories_path %></li>
			<li class="users<%= ' current' if @section == :users %>"><%= link_to "Users", online_users_path %></li>
			<% if @section != :messages && @current_user.unread_messages? -%>
				<li class="messages new_messages"><%= link_to (@current_user.unread_messages_count > 1) ? "#{@current_user.unread_messages_count} New messages!" : "1 New message!", messages_path %></li>
			<% else -%>
				<li class="messages<%= ' current' if @section == :messages %>"><%= link_to "Messages", messages_path %></li>
			<% end -%>
		</ul>
	</div>
	<div id="content">
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
		<% if @iphone_user_agent %><div class="iphone_link">
			<p><%= link_to "iPhone version", :iphone_format => 'iphone' %></p>
		</div><% end %>
	</div>
</body>
</html>
