<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= [@site_name,@page_title].compact.join(' - ') %></title>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'iphone' %>
	<%= stylesheet_link_tag    'iphone2/screen' %>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>
<body>
    <div id="header">
		<div id="navigationToggle">
			<%= link_to_function "", "toggleNavigation();" %>
		</div>
        <h1 id="pageTitle" class="page_title">
			<% if @page_title %>
				<span class="site_name"><%= link_to "B3S:", discussions_path %></span> <%= @page_title %>
			<% else %>
				<span class="site_name"><%= link_to "B3S", discussions_path %></span>
			<% end %>
		</h1>
    </div>
	<div id="navigation"><ul>
		<li><%= link_to "Discussions", discussions_path %></li>
		<li><%= link_to "Participated", participated_user_path(:id => @current_user.username) %></li>
		<!--<li class="bookmarks"><%= link_to "Bookmarks" %></li>-->
		<li><%= link_to "Categories", categories_path %></li>
		<li><%= link_to "Users", users_path %></li>
		<% if @current_user.unread_messages? -%>
			<li><strong><%= link_to (@current_user.unread_messages_count > 1) ? "#{@current_user.unread_messages_count} New messages!" : "1 New message!", messages_path %></strong></li>
		<% else -%>
			<li><%= link_to "Messages", messages_path %></li>
		<% end -%>
		<li><%= link_to "Log out", logout_users_path, :confirm => "Are you sure you want to log out?" %></li>
		<li class="search">
			<% form_tag search_path, :method => 'get' do %>
				Search in 
				<%= radio_button_tag 'search_mode', search_path, true, :id => 'search_mode_titles' %> titles
				<%= radio_button_tag 'search_mode', search_posts_path, false, :id => 'search_mode_posts' %> posts
				<%= text_field_tag 'q', @search_query, :class => :query %>
				<%= submit_tag "Go", :name => nil %>
			<% end %>
		</li>
	</ul></div>
	<script type="text/javascript">
		Element.hide('navigation');
	</script>
	<% if flash[:notice] %>
		<div id="notice"><p><%= flash[:notice] %></p></div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
	<div id="footer">
		<%= link_to "Regular site", :iphone_format => 'html' %>
	</div>
</body>
</html>
