<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= [@page_title, Sugar.config(:forum_name)].compact.join(' - ') %></title>

	<%# Stylesheet %>
	<%= stylesheet_link_tag 'syntax/twilight' %>
	<% if @current_user && @current_user.stylesheet_url? %>
		<%= stylesheet_link_tag @current_user.stylesheet_url %>
	<% else %>
		<%= stylesheet_link_tag "#{theme_path}/screen" %>
	<% end %>

	<%# Javascripts %>
	<% if Rails.env == 'production' %>
		<%= javascript_include_tag "bundled/application.js" %>
	<% else %>
		<%=
			scripts  = %w{jquery jquery.hotkeys.min jquery.scrollTo.min jquery.autocomplete.pack jquery.libraries}.map{|s| "vendor/#{s}"}
			scripts += %w{swfobject soundmanager2.min}.map{|s| "vendor/#{s}"}
			scripts += %w{sugar maps mp3player posts hotkeys facebook}.map{|s| "sugar/#{s}"}
			scripts += %w{application}
			scripts.map{|s| javascript_include_tag(s)}.join("\n").html_safe
		%>
	<% end %>

	<%# Sugar configuration %>
	<script>
		<%= "Sugar.Configuration.debug         = true;" if Rails.env == 'development' %>
		<%= "Sugar.Configuration.FlickrAPI     = '#{Sugar.config(:flickr_api)}';" if Sugar.config(:flickr_api) %>
		<%= "Sugar.Configuration.hotkeys       = true;" if @current_user && @current_user.keyboard_navigation? %>
		<%= "Sugar.Configuration.workSafe      = true;" if @current_user && @current_user.work_safe_urls? %>
		<%= "Sugar.Configuration.FacebookAppId = '#{Sugar.config(:facebook_app_id)}';" if Sugar.config(:facebook_app_id) %>
	</script>

	<%# Custom javascript %>
	<% if Sugar.config(:custom_javascript) %>
		<script>
			<%= raw Sugar.config(:custom_javascript) %>
		</script>
	<% end %>

	<%# Google Maps API %>
	<% if @google_maps_api %>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<% end %>

	<link rel="icon" type="image/gif" href="<%= theme_path %>/images/favicon.gif">
</head>
<body class="<%= body_classes %>">

	<%# Custom header %>
	<% if Sugar.config(:custom_header) %>
		<%= raw Sugar.config(:custom_header) %>
	<% end %>

	<div id="header">
		<h1><%= Sugar.config(:forum_title) %></h1>

		<%# Search form %>
		<% if @current_user || Sugar.config(:public_browsing) %>
			<div id="search">
				<%= form_tag((@search_path || search_path), :method => 'get') do %>
					<%= text_field_tag 'q', @search_query, :class => :query %>
					<%= select_tag 'search_mode', options_for_select(
						search_mode_options,
						@search_path || search_path
					) %>
					<%= submit_tag "Search", :name => nil %>
				<% end %>
			</div>
		<% end -%>

		<%# Account info %>
		<div id="account">
			<% if @current_user %>
				Hello, <%= profile_link(@current_user) %>! 
				(<%= link_to "Sign out", logout_users_path %>)
			<% else %>
				<% if Sugar.config(:signups_allowed) %>
					<%= link_to((Sugar.config(:signup_approval_required) ? "Apply for membership" : "Sign up"), new_user_path) %> 
					or
				<% end %>
				<%= link_to "Log in", login_users_path %>
			<% end %>
		</div>

		<%# Navigation tabs %>
		<% if @current_user || Sugar.config(:public_browsing) %>
			<ul id="navigation">
				<%= header_tab 'Discussions', discussions_path %>
				<% if @current_user %>
					<%= header_tab 'Following', following_discussions_path %>
					<%= header_tab 'Favorites', favorites_discussions_path %>
					<% if @current_user.unread_conversations? %>
						<%= header_tab(
								"Conversations (#{@current_user.unread_conversations_count})", 
								conversations_path, 
								:section => :conversations, 
								:class   => 'new'
							)
						%>
					<% else %>
						<%= header_tab 'Conversations', conversations_path %>
					<% end %>
				<% end %>
				<%= header_tab 'Users', online_users_path %>
				<% if @current_user && (@current_user.invites? || @current_user.available_invites?) %>
					<% if !@current_user.user_admin? && @current_user.available_invites? %>
						<%= header_tab(
								"Invites (#{@current_user.available_invites})", 
								invites_path, 
								:section => :invites
							)
						%>
					<% else %>
						<%= header_tab 'Invites', invites_path %>
					<% end %>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div id="wrapper">

		<%# Notice %>
		<% if flash[:notice] %>
			<div class="notice">
				<%= raw flash[:notice] %>
			</div>
		<% end %>

		<%# Sidebar %>
		<% if content_for?(:sidebar) %>
			<div id="sidebar">
				<%= yield :sidebar %>
			</div>
		<% end %>

		<%# Main content %>
		<div id="content">
			<%= yield %>
			<% if @mobile_user_agent %>
				<div class="mobile_link">
					<p><%= link_to "mobile version", :mobile_format => 'mobile' %></p>
				</div>
			<% end %>
		</div>
	</div>

	<%# Custom footer %>
	<% if Sugar.config(:custom_footer) %>
		<%= raw Sugar.config(:custom_footer) %>
	<% end %>

	<%# Google Analytics %>
	<% if Sugar.config(:google_analytics) %>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '<%= Sugar.config(:google_analytics) %>']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	<% end %>

</body>
</html>