<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= Sugar.config(:forum_name) %> - Login</title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'iphone' %>
	<%# stylesheet_link_tag '/javascripts/iui/iui' %>
	<%= stylesheet_link_tag 'iphone2/screen' %>

	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>


</head>
<body>
    <div id="header">
        <h1 id="pageTitle" class="logo"><%= Sugar.config(:forum_name) %></h1>
    </div>
	<% if flash[:notice] %>
		<div id="notice"><p><%= flash[:notice] %></p></div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
