<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= Sugar.config(:forum_name) %> - Login</title>
	<%= stylesheet_link_tag "#{theme_path}/login" %>
	<% if RAILS_ENV == 'production' -%>
		<%= javascript_include_tag "all" %>
	<% else -%>
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "jquery.libraries" %>
		<%= javascript_include_tag 'swfobject' %>
		<%= javascript_include_tag 'application' %>
	<% end -%>
	<link rel="icon" type="image/gif" href="<%= theme_path %>/images/favicon.gif" />
</head>
<body>
	<% if flash[:notice] %>
		<div id="notice"><p><%= flash[:notice] %></p></div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
