<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= Sugar.config(:forum_name) %> - Login</title>
	<% if RAILS_ENV == 'production' -%>
		<%= javascript_include_tag "bundled/iphone.js" %>
	<% else -%>
		<%= javascript_include_tag 'vendor/jquery' %>
		<%= javascript_include_tag 'iphone' %>
	<% end -%>
	<%= stylesheet_link_tag "#{theme_path}/screen" %>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="apple-touch-icon" href="<%= theme_path %>/apple-touch-icon.png" />
</head>
<body>
    <div id="header">
        <h1 id="pageTitle" class="page_title">
			<% if @page_title %>
				<span class="site_name"><%= link_to "#{Sugar.config(:forum_short_name)}:", discussions_path %></span> <%= @page_title %>
			<% else %>
				<span class="site_name"><%= link_to "#{Sugar.config(:forum_short_name)}", discussions_path %></span>
			<% end %>
		</h1>
    </div>
	<% if flash[:notice] %>
		<div id="notice"><p><%= flash[:notice] %></p></div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
	<% if Sugar.config(:google_analytics) -%>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">try{ var pageTracker = _gat._getTracker("<%= Sugar.config(:google_analytics) %>"); pageTracker._trackPageview(); } catch(err) {}</script>
	<% end -%>
</body>
</html>
